<ion-content [fullscreen]="true">
  <section class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Recyclate App</ion-card-title>
        <ion-card-subtitle color="success">The Best in Recyclate</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button size="full" color="dark" fill="clear">Forgot Email / Password</ion-button>
        <ion-button size="full" color="success">Login</ion-button>
        <ion-button size="full" color="success" fill="clear">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
