<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Recycle App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (contributor of contributors(); track contributor.id) {
    <ion-item color="success">
      <ion-avatar slot="start">
        <img [src]="contributor?.image || defaultImg" />
      </ion-avatar>
      <ion-label>
        <h2>{{ contributor.name }}</h2>
        <p>
          Gathered:
          <span class="weight">{{ contributor.contributions }}</span> kg
        </p>
      </ion-label>
    </ion-item>
    } @empty {
    <h2>There is no contributors yet!</h2>
    }
  </ion-list>
  <div class="pickup-status">
    <div class="status-header">
      <ion-icon name="notifications-outline" color="light"></ion-icon>
      <h3>Last pick up call</h3>
    </div>
    <div class="status-content">
      <div class="status-icon">
        <ion-icon name="time-outline" color="warning" size="large"></ion-icon>
      </div>
      <div class="status-info">
        <p class="status-text">Waiting for pickup</p>
        <p class="status-time">Scheduled for today</p>
      </div>
    </div>
  </div>
</ion-content>
