<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Recycle App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (contributor of contributors(); track contributor.id) {
    <ion-item color="success">
      <ion-avatar slot="start">
        <img [src]="contributor?.image || defaultImg" />
      </ion-avatar>
      <ion-label>
        <h2>{{ contributor.name }}</h2>
        <p>
          Gathered:
          <span class="weight">{{ contributor.contributions }}</span> kg
        </p>
      </ion-label>
    </ion-item>
    } @empty {
    <h2>There is no contributors yet!</h2>
    }
  </ion-list>
</ion-content>
